<a href="https://colab.research.google.com/github/Jaya9522/almabetter_assignments/blob/main/SQL_Fundamentals_II_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

SELECT customer_id, SUM(amount) FROM payment
WHERE staff_id=2
GROUP BY customer_id,staff_id
HAVING SUM(amount) >= 110
ORDER BY customer_id

OUTPUT
    customer_id  sum
 1  148	         110.78
 2  187	         110.81

# <b> Question 2 :  How many films begin with the letter J?

SELECT COUNT(title)
FROM film
WHERE title LIKE 'J%'


OUTPUT
  COUNT
1 20

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

SELECT customer_id, first_name, address_id FROM customer
WHERE first_name ILIKE 'E%'
GROUP BY customer_id
HAVING address_id < 500
ORDER BY customer_id DESC


OUTPUT
customer_id  first_name  address_id
434	         "Eddie"	   439
432	         "Edwin"	   437
396          "Earl"	     401
384	         "Ernest"	   389
378	         "Eugene"	   383
331	         "Eric"	     336
317	         "Edward"	   322
298	         "Erika"     303